<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Formulario de Pago - Test</title>
</head>

<body>
  <h1>Prueba Formulario de Pago</h1>

  <form method="POST" action="https://secure.micuentaweb.pe/vads-payment/">
    <label for="">vads_action_mode</label>
    <input name="vads_action_mode" value={{ actionMode }} />
    <br>
    <label for="">vads_amount</label>
    <input name="vads_amount" value={{ amount }} />
    <br>
    <label for="">vads_ctx_mode</label>
    <input name="vads_ctx_mode" value={{ ctxMode }} />
    <br>
    <label for="">vads_currency</label>
    <input name="vads_currency" value={{ currency }} />
    <br>
    <label for="">vads_cust_email</label>
    <input name="vads_cust_email" value={{ custEmail }} />
    <br>
    <label for="">vads_identifier</label>
    <input name="vads_identifier" value={{ identifier }} />
    <br>
    <label for="">vads_page_action</label>
    <input name="vads_page_action" value={{ pageAction }} />
    <br>
    <label for="">vads_payment_config</label>
    <input name="vads_payment_config" value={{ paymentConfig }} />
    <br>
    <label for="">vads_site_id</label>
    <input name="vads_site_id" value={{ siteId }} />
    <br>
    <label for="">vads_trans_date</label>
    <input name="vads_trans_date" value={{ transDate }} />
    <br>
    <label for="">vads_trans_id</label>
    <input name="vads_trans_id" value={{ transId }} />
    <br>
    <label for="">vads_version</label>
    <input name="vads_version" value={{ version }} />
    <br>
    <label for="">signature</label>
    <input name="signature" value={{ signature }} />
    <br>
    <input type="submit" name="pagar" value="Pagar" />
  </form <!--
    Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>